
5.DeepLearning/Data/wiki/wiki.txt
5.DeepLearning/Data/wiki/wiki.model
5.DeepLearning/Data/wiki/wiki.model.syn1neg.npy
5.DeepLearning/Data/wiki/wiki.model.wv.vectors.npy
5.DeepLearning/Data/wiki/wiki.wakati
